
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

.headerContainer{
    width: 800px;
    margin: 0 auto;
    height: 130px;
}
.feed{
    background: #F8F9FA;
}
.feed h3{
    width: 800px;
    margin: 0 auto;
    height: 65px;
}
.butCreatePubli{
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 38px;
    background: #364FC7;
    border: 1px solid #364FC7;
    border-radius: 4px;
    color: white;
}
.mainContainer{
    width: 800px;
    margin: 0 auto;
}
.ulCards{
    margin-top: 25px;
    padding-bottom: 50px;
}
.editBut{
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    height: 32px;
    border: 1px solid #E9ECEF;
    border-radius: 4px;

}
.deleteBut{
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    background: #F1F3F5;
    border: 1px solid #F1F3F5;
    border-radius: 4px;
    height: 32px;
    opacity: 0.7;
}
.openModalBut{
    align-items: center;
    width: 146px;
    height: 24px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
    color: #364FC7;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.logOut{
    background: #FCFEFF;
    box-shadow: 0px 4px 40px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 117px;
    max-width: 215px;
    animation: logOut 2000ms ease-in forwards; 
    display: flex;
    position: fixed;
    right: 300px;
    top: 8px;
}
@keyframes logOut{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
.butLogOut{
    background: #FCFEFF;
    border: 1px solid #F1F3F5;
}
#imgProfile:focus .logOut{
    animation: logOut 2000ms ease-in forwards; 
    display: flex;
}
.figImg{
    width: 42px;
    max-width: 100%;
}   
body{
    width: 100vw;
    height: 100vh;
}
.modalExterior{
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6);
   top: 0;
   animation: 350ms easeIn;
}
@keyframes easeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.modalInterior{
    left: 27%;
    top: 15%;
    width: 850px;
    height: 570px;
    background: #FCFEFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 24px;
}

.butCloseModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 32px;
    background: #E9ECEF;
    border: 1px solid #F1F3F5;
    border-radius: 4px;
}
.mainModal p{
    line-height: 160%;
    font-size: 17px;
}
.butCloseAddPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 32px;
    background: #E9ECEF;
    border-radius: 4px;
    border: none;
}
.titleInput{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 44px;
    padding: 10px 17px;
    background: #F8F9FA;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;

}
.contentInput{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 17px;
    width: 100%;
    height: 120px;
    background: #F8F9FA;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: none;
    font-family: 'IBM Plex Sans', sans-serif;
}
.butCancel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    width: 105px;
    height: 38px;
    background: #E9ECEF;
    border-radius: 4px;
    border: none;
    justify-content: center;
    opacity: 0.6;
}
.butPub{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    justify-content: center;
    width: 105px;
    height: 38px;
    background: #364FC7;
    border-radius: 4px;
    border: none;
    color: white;
}
.secButOptions{
    justify-content: flex-end;
}
.removeEx{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    animation: 350ms easeIn;
}
.removeIn{
    background: #FCFEFF;
    border-radius: 8px;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 46px;
    width: 800px;
    height: 302px;
    left: 28.5%;
    top: 15%;
}
.removeCancel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 97px;
    height: 38px;
    background: #E9ECEF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
}
.removeOk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 189px;
    background: #C73650;
    height: 38px;
    border: 1px solid #C73650;
    border-radius: 4px;
    color: white;
}
.editEx{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    animation: 350ms easeIn;
}
.editIn{
    background: #FCFEFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 46px;
    width: 800px;
    height: 714px;
    left: 27%;
    top: 11%;
}
.inputTitle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 17px;
    gap: 10px;
    width: 100%;
    height: 44px;
    background: #F8F9FA;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}
.inputContent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 17px;
    gap: 10px;
    width: 100%;
    height: 356px;
    background: #F8F9FA;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;

}
.cancelarBut{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 20px;
    gap: 10px;
    width: 105px;
    height: 38px;
    background: #E9ECEF;
    border-radius: 4px;
    border: none;
    align-items: center;
    justify-content: center;
}
.applyBut{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 20px;
    gap: 10px;
    width: 162px;
    height: 38px;
    background: #364FC7;
    border-radius: 4px;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
}
.toast{
    width: 441.73px;
    height: 125px;
    background: #FCFEFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 4px;
    padding: 21px 32px;
    display: flex;
    flex-direction: column;
    right: 16px;
    bottom: 16px;
    animation: toastIt 8000ms ease-in forwards;
}
@keyframes toastIt{
    0%{right: 16px; bottom: -150px;}
    25%{right: 16px; bottom: 16px;}
    50%{right: 16px; bottom: 16px;}
    100%{right: 16px; bottom: -150px;}
}
.toast figure{
    width: 24px;
    height: 24px;
}
.toast figure img{
    width: 100%;
}